@model RegistrarUsuarios.Models.Funcionario

@{
    ViewData["Title"] = "Deletar Funcionário";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h2>Deletar Funcionário</h2>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Nome</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Nome)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">E-mail</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Email)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Departamento</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Departamento)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Usuário</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Tipo)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Cargo</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Cargo)</div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
                        Confirmar Exclusão
                    </button>
                    <a asp-action="Index" class="btn btn-secondary ml-2">Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmar Exclusão</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Tem certeza que deseja excluir o funcionário?
            </div>
            <div class="modal-footer">
                <form id="deleteForm" asp-action="DeletarConfirmado" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
