@model RegistrarUsuarios.Models.FuncionarioList

@{
    ViewData["Title"] = "Informações do Usuário";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header text-center">
                    <h2>Informações do Usuário</h2>
                </div>
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Nome</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Funcionario.Nome)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">E-mail</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Funcionario.Email)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Senha E-mail</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Funcionario.SenhaEmail)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Tipo de Acesso</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Funcionario.Tipo)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Senha</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Funcionario.Senha)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Departamento</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Funcionario.Departamento)</div>
                    </div>
                    <hr>
                    <div class="row mb-3">
                        <div class="col-sm-4 text-right font-weight-bold">Cargo</div>
                        <div class="col-sm-8 text-left">@Html.DisplayFor(x => x.Funcionario.Cargo)</div>
                    </div>
                </div>
            </div>
            <div class="mt-4 text-center">
                <a asp-action="Editar" asp-route-id="@Model.Funcionario.Id" class="btn btn-primary">Editar</a>
                <a asp-action="Index" class="btn btn-secondary ml-2">Voltar</a>
            </div>
        </div>
    </div>
</div>
