@model RegistrarUsuarios.Models.Funcionario

@{
    ViewData["Title"] = "Informações do Usuario";
}


<div class="text-center">
    <h1>Informações do Usuário</h1>
</div>

<div class="card">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-2">Nome:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(x => x.Nome)</dd>
            <hr class="my-10">

            <dt class="col-sm-2">E-mail:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(x => x.Email)</dd>
            <hr class="my-1">

            <dt class="col-sm-2">Departamento:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(x => x.Departamento)</dd>
            <hr class="my-1">

            <dt class="col-sm-2">Usuário de rede:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(x => x.UsuarioDeRede)</dd>
            <hr class="my-1">

            <dt class="col-sm-2">Cargo:</dt>
            <dd class="col-sm-10">@Html.DisplayFor(x => x.Cargo)</dd>

        </dl>
    </div>
</div>

<div class="mt-3">
    <a asp-action="Editar" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>